

@import url('https://fonts.googleapis.com/css?family=Kalam|Righteous|Inconsolata');
body {
	background-color: #BEC4C5;
}
h1, h2, h3 {
	color: #000000;
	font-family: "Righteous";
	}
p {
	font-family: "Kalam";
}
.headerspan {
	background-color: #60E0FF;
}
.underline {
	text-decoration: underline;
}
ol, ul {
	font-family: "Inconsolata";
	color: #000000;
}
a {
	color: #000000;
}
a:hover {
	color: #0000FF;
}
img {
	border-color: #000000;
}
