@import url('https://fonts.googleapis.com/css?family=Kalam|Righteous|Inconsolata');


body {
	background-color: #BEC4C5;
}
h1, h2, h3 {
	color: #000000;
	font-family: "Righteous";
	
	}
p {
	font-family: "Kalam";
}
.headerspan {
	background-color: #60E0FF;
}
.underline {
	text-decoration: underline;
}
ol, ul {
	font-family: "Inconsolata";
	color: #000000;
}
a {
	color: #000000;
}
a:hover {
	color: #60E0FF;
}
i.fa{
	font-size: 20px;
}
img {
	border-color: #60E0FF;
	border-style: solid;
	border-width: 3px;
	border-spacing: 10px;
}
#copyright {
	font-family: "Righteous";
	text-align: center;
}
#testimonial {
	font-family: "Inconsolata";
	text-align: center;
	border-width: 5px;
	border: solid;
	padding: 5px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
.portfolio {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
.portfolio img {
	height: 250px;
	width: 245px;
	margin: 10px 10px 10px 10px;
}
.portfolio p {
	text-align: center;
}
.howtobox{
	border-width: 5px;
	border-color: black;
	border: dashed;
	padding: 5px;
	width: 50%;
}
.infobox {
	width: 250px ;
	margin: 0 auto;
	text-align: center;
}
.responsivepage {
	text-align: center;
}
.yourinfo{
margin: 0 auto;
}
@media (max-width: 500px) {

	/* Mobile styles */
	.infobox {
		width: 100% ;
		margin: 0 auto;
		text-align: center;
	}

